/**
 * Round badge.
 */
.badge-round {
    background-color: $toolbarBadgeBackground;
    border-radius: 50%;
    box-sizing: border-box;
    color: $toolbarBadgeColor;
    // Do not inherit the font-family from the toolbar button, because it's an
    // icon style.
    font-family: $baseFontFamily;
    font-size: 9px;
    font-weight: 700;
    line-height: 13px;
    min-width: 13px;
    overflow: hidden;
    text-align: center;
    text-overflow: ellipsis;
    vertical-align: middle;
}

/**
 * TODO: when the old filmstrip has been removed, remove the "new-" prefix.
 */
.new-toolbox {
    // bottom: calc((#{$newToolbarSize} * 2) * -1);
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    transition: bottom .3s ease-in;
    width: 100%;

    &.visible {
        bottom: 0;
        .toolbox-background {
            bottom: 0px;
        }
    }

    &.no-buttons {
        display: none;
    }

    .toolbox-background {
        // background-image: linear-gradient(to top, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0));
        transition: bottom .3s ease-in;
        height: 160px;
        width: 100%;
        bottom: -160px;
        position: absolute;
        z-index: $toolbarBackgroundZ;
    }

    .toolbox-content {
        box-sizing: border-box;
        display: flex;
        justify-content: space-between;
        margin-left: auto;
        margin-right: auto;
        padding: 20px 16px;
        position: relative;
        width: 100%;
        z-index: $toolbarZ;

        .button-group-center,
        .button-group-left,
        .button-group-right {
            display: flex;
            width: 33%;
        }

        .button-group-center {
            justify-content: center;
            .toolbox-icon {
                margin: 0px 4px;
            }
        }

        .button-group-right {
            justify-content: flex-end;
        }

        i {
            border-radius: 5px;
            cursor: pointer;
            display: block;
            font-size: inherit;
            height: 100%;
            line-height: inherit;
            width: 100%;
        }

        i:hover {
            background: $newToolbarButtonHoverColor;
        }

        i.toggled {
            background: $newToolbarButtonToggleColor;
        }

        i.toggled:hover {
            background: $newToolbarButtonHoverColor;
        }

        .icon-hangup {
            background-color: #e12d2d;
            color: #fff;
            border-radius: 50%;
            width: 40px;
            height: 40px;

            &:hover {
                background-color: #e54b4b;
            }
        }
        i.disabled, .disabled i {
            cursor: initial;
            color: #fff;
            background-color: #a4b8d1;
        }

        .icon-mic-disabled, .icon-microphone, .icon-camera-disabled, .icon-camera {
            background-color: #fff;
            color: #5e6d7a;
            border-radius: 50%;
            border: 1px solid #d1dbe8;
            width: 38px;
            height: 38px;

            &:hover {
                background-color: #daebfa;
                border: 1px solid #daebfa;
            }

            &.toggled {
                background: #2a3a4b;
                color: #fff;
                border: 1px solid #5e6d7a;

                &:hover {
                    background-color: #5e6d7a;
                }
            }

            &.disabled, .disabled & {
                cursor: initial;
                color: #fff;
                background-color: #a4b8d1;
            }
        }

        .overflow-menu {
            font-size: 1.2em;
            list-style-type: none;
            background-color: $overflowMenuBG;
            /**
             * Undo atlaskit padding by reducing margins.
             */
            margin: -16px -24px;
            padding: 4px 0;

            .overflow-menu-item {
                align-items: center;
                color: $overflowMenuItemColor;
                cursor: pointer;
                display: flex;
                font-size: 14px;
                height: 22px;
                padding: 5px 12px;

                div {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                }

                &:hover {
                    background-color: $overflowMenuItemHoverBG;
                    color: $overflowMenuItemHoverColor;
                }

                &.unclickable {
                    cursor: default;
                }
                &.unclickable:hover {
                    background: inherit;
                }
                &.disabled {
                    cursor: initial;
                    color: #3b475c;
                }
            }

            .beta-tag {
                background: $overflowMenuItemColor;
                border-radius: 2px;
                color: $overflowMenuBG;
                font-size: 11px;
                font-weight: bold;
                margin-left: 8px;
                padding: 0 6px;
            }

            .overflow-menu-item-icon {
                margin-right: 10px;

                i {
                    display: inline;
                    font-size: 24px;
                }

                i:hover {
                    background-color: initial;
                }

                img {
                    max-width: 24px;
                    max-height: 24px;
                }
            }

            .profile-text {
                max-width: 150px;
                text-overflow: ellipsis;
                overflow: hidden;
                white-space: nowrap;
            }
        }

        .toolbox-button {
            color: $toolbarButtonColor;
            cursor: pointer;
            display: inline-block;
            line-height: $newToolbarSize;
            margin: 0 8px;
            text-align: center;
        }

        .toolbar-button-with-badge {
            position: relative;

            .badge-round {
                bottom: -5px;
                font-size: 12px;
                line-height: 20px;
                min-width: 20px;
                pointer-events: none;
                position: absolute;
                right: -5px;
            }
        }

        .toolbox-button-wth-dialog {
            display: inline-block;
        }

        .toolbox-icon {
            height: $newToolbarSize;
            font-size: 24px;
            width: $newToolbarSize;
        }
    }
}

.always-on-top-toolbox,
.filmstrip-toolbox {
    background-color: $newToolbarBackgroundColor;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    z-index: $toolbarZ;

    i {
        cursor: pointer;
        display: block;
    }

    i:hover {
        background-color: $AOTToolbarButtonHoverColor;
    }

    i.toggled {
        background: $AOTToolbarButtonToggleColor;
    }

    i.toggled:hover:not(.disabled) {
        background-color: $AOTToolbarButtonHoverColor;
    }

    .icon-hangup {
        color: $hangupColor;
    }

    .toolbox-button {
        color: $toolbarButtonColor;
        cursor: pointer;
        text-align: center;
    }

    border-radius: 3px;
}

.always-on-top-toolbox {
    flex-direction: row;
    left: 50%;
    position: absolute;
    top: 10px;
    transform: translateX(-50%);
    z-index: $toolbarZ;

    i {
        font-size: $newToolbarFontSize;
        height: $newToolbarSize;
        line-height: $newToolbarSize;
        width: $newToolbarSize;
    }

    .icon-hangup {
        font-size: $newToolbarHangupFontSize;
    }

    .disabled {
        cursor: initial;
    }

    .toolbox-button:first-child i {
        border-top-left-radius: 3px;
        border-bottom-left-radius: 3px;
    }

    .toolbox-button:last-child i {
        border-top-right-radius: 3px;
        border-bottom-right-radius: 3px;
    }
}

.filmstrip-toolbox {
    i {
        font-size: 1.9em;
        height: 37px;
        line-height: 37px;
        width: 37px;
    }

    .toolbox-button:first-child i {
        border-top-left-radius: 3px;
        border-top-right-radius: 3px;
    }

    .toolbox-button:last-child i {
        border-bottom-left-radius: 3px;
        border-bottom-right-radius: 3px;
    }
}

/**
 * START of fade in animation for main toolbar
 */
.fadeIn {
    opacity: 1;

    @include transition(all .3s ease-in);
}

.fadeOut {
    opacity: 0;

    @include transition(all .3s ease-out);
}
.button-group-controls{
  margin-left: 60px;
  margin-bottom: 220px;
  position: relative;
  z-index: 5;
  width: 100px;
  .button-group-thick{
    .microphone{
      background-image:url('./images/mic-unmute@3x.png');
      background-repeat: no-repeat;
      background-size: 100%;
      height: 100px;
      width: 100px;
      display: block;
    }
    .microphone-disabled{
      background-image:url('./images/mic-mute@3x.png');
      background-repeat: no-repeat;
      background-size: 100%;
      height: 100px;
      width: 100px;
      display: block;
    }
    .hangup-img {
      bottom: 10px;
      background-image: url('./images/hangup@3x.png');
      background-repeat: no-repeat;
      background-size: 100%;
      height: 35px;
      width: 35px;
      display: inline-block;
      right: 0;
      position: absolute;
    }
  }

  .button-group-light{
    .microphone{
      background-image:url('./images/mic-mute-transparent@3x.png');
      background-repeat: no-repeat;
      background-size: 100%;
      height: 100px;
      width: 100px;
      display: block;
    }
    .microphone-disabled{
      background-image:url('./images/mic-mute@3x.png');
      background-repeat: no-repeat;
      background-size: 100%;
      height: 100px;
      width: 100px;
      display: block;
    }
    .volume-button{
      bottom: -2px;
      background-image: url('./images/speaker-mute@3x.png');
      background-repeat: no-repeat;
      background-size: 100%;
      height: 50px;
      width: 50px;
      display: inline-block;
      right: -8px;
      position: absolute;
    }
  }

  .pen-tool{
    background-image: url('./images/pen-tool@3x.png');
    background-repeat: no-repeat;
    background-size: 100%;
    height: 50px;
    width: 50px;
    background-color: transparent;
    border:none;
    margin: 0 auto 20px;
    display: block;
    padding: 0;
  }
}

.logo-element {
  background-image: url('./images/vodafone.png');
  background-repeat: no-repeat;
  background-size: 100%;
  height: 50px;
  width: 50px;
  margin: 20px auto 0;
  display: block;
  position: absolute;
  left: calc( 50% - 25px);
}

.light-green {
  border: 1px solid #f5f5f5 !important;
  color: #09c836 !important;
  ol {
    padding-left: 0!important;
  }
}

.light-red {
  border: 1px solid #f5f5f5 !important;
  color: #ff2a2a !important;
  ol {
    padding-left: 0 !important;
  }
}

.burger-menu{
  background-image: url('./images/menu@3x.png');
  background-repeat: no-repeat;
  background-size: 100%;
  height: 30px;
  width: 30px;
  background-color: transparent;
  border:none;
  margin: 20px auto 0;
  display: block;
  position: absolute;
  left: 100px;
  cursor: pointer;
  z-index: 5;
}

.drawer {
  position: fixed;
  top: 0;
  z-index: 9999;
}
.drawer > * {
  transition: transform 0.3s cubic-bezier(0.78, 0.14, 0.15, 0.86), opacity 0.3s cubic-bezier(0.78, 0.14, 0.15, 0.86), box-shaow 0.3s cubic-bezier(0.78, 0.14, 0.15, 0.86);
}
.drawer .drawer-mask {
  background: #000;
  opacity: 0;
  width: 0;
  height: 0;
  position: fixed;
  top: 0;
  transition: opacity 0.3s cubic-bezier(0.78, 0.14, 0.15, 0.86), width 0s ease 0.3s, height 0s ease 0.3s;
}
.drawer-content-wrapper {
  position: fixed;
  background: #313131;
}
.drawer-content {
  overflow: auto;
  z-index: 1;
  position: relative;
}
.drawer-handle {
  position: absolute;
  top: 72px;
  width: 41px;
  height: 40px;
  cursor: pointer;
  z-index: 0;
  text-align: center;
  line-height: 40px;
  font-size: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #fff;
}
.drawer-handle-icon {
  width: 14px;
  height: 2px;
  background: #333;
  position: relative;
  transition: background 0.3s cubic-bezier(0.78, 0.14, 0.15, 0.86);
}
.drawer-handle-icon:before,
.drawer-handle-icon:after {
  content: '';
  display: block;
  position: absolute;
  background: #333;
  width: 100%;
  height: 2px;
  transition: transform 0.3s cubic-bezier(0.78, 0.14, 0.15, 0.86);
}
.drawer-handle-icon:before {
  top: -5px;
}
.drawer-handle-icon:after {
  top: 5px;
}
.drawer-left,
.drawer-right {
  width: 0%;
  height: 100%;
}
.drawer-left .drawer-content-wrapper,
.drawer-right .drawer-content-wrapper,
.drawer-left .drawer-content,
.drawer-right .drawer-content {
  height: 100%;
}
.drawer-left.drawer-open,
.drawer-right.drawer-open {
  width: 100%;
}
.drawer-left .drawer-handle {
  right: -40px;
  box-shadow: 2px 0 8px rgba(0, 0, 0, 0.15);
  border-radius: 0 4px 4px 0;
}
.drawer-left.drawer-open .drawer-content-wrapper {
  box-shadow: 2px 0 8px rgba(0, 0, 0, 0.15);
}
.drawer-right .drawer-content-wrapper {
  right: 0;
}
.drawer-right .drawer-handle {
  left: -40px;
  box-shadow: -2px 0 8px rgba(0, 0, 0, 0.15);
  border-radius: 4px 0 0 4px;
}
.drawer-right.drawer-open .drawer-content-wrapper {
  box-shadow: -2px 0 8px rgba(0, 0, 0, 0.15);
}
.drawer-top,
.drawer-bottom {
  width: 100%;
  height: 0%;
}
.drawer-top .drawer-content-wrapper,
.drawer-bottom .drawer-content-wrapper,
.drawer-top .drawer-content,
.drawer-bottom .drawer-content {
  width: 100%;
}
.drawer-top .drawer-handle,
.drawer-bottom .drawer-handle {
  left: 50%;
  margin-left: -20px;
}
.drawer-top.drawer-open,
.drawer-bottom.drawer-open {
  height: 100%;
}
.drawer-top .drawer-handle {
  top: auto;
  bottom: -40px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
  border-radius: 0 0 4px 4px;
}
.drawer-top.drawer-open .drawer-wrapper {
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
}
.drawer-bottom .drawer-content-wrapper {
  bottom: 0;
}
.drawer-bottom .drawer-handle {
  top: -40px;
  box-shadow: 0 -2px 8px rgba(0, 0, 0, 0.15);
  border-radius: 4px 4px 0 0;
}
.drawer-bottom.drawer-open .drawer-content-wrapper {
  box-shadow: 0 -2px 8px rgba(0, 0, 0, 0.15);
}
.drawer.drawer-open .drawer-mask {
  opacity: 0.3;
  width: 100%;
  height: 100%;
  animation: rcDrawerFadeIn 0.3s cubic-bezier(0.78, 0.14, 0.15, 0.86);
  transition: none;
}
.drawer.drawer-open .drawer-handle-icon {
  background: transparent;
}
.drawer.drawer-open .drawer-handle-icon:before {
  transform: translateY(5px) rotate(45deg);
}
.drawer.drawer-open .drawer-handle-icon:after {
  transform: translateY(-5px) rotate(-45deg);
}
@keyframes rcDrawerFadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.3;
  }
}


.sidebar-conainer{
  padding: 25px;
  .privacy, .sip-address {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 60px;

    h4{
      margin-bottom: 10px;
      color: #ccc;
    }
    input {
      width: calc(100% - 100px);
      margin-right: 5px;
      border:1px solid #666;
      background-color: #424242;
      color: #fff;
      height: 42px;
      padding: 8px 12px;
      font-size: 15px;
    }

    button {
      height: 42px;
      width: 42px;
      background-color: transparent;
      border: none;
      background-size: 200%;
      border-radius: 0;

      &.plus {
        background-position: 0 42px;
        background-image: url("./images/plus-minus@2x.png");
      }

      &.minus {
        background-position: -42px 42px;
        background-image: url("./images/plus-minus@2x.png");
      }
      &.phone{
        background-position: center;
        background-image: url("./images/sipCall@2x.png");
        background-size: 112%;
        width: 50px;
        height: 50px;
      }
      }
    }

    p{
      color: #ccc;
      font-size: 14px;
      margin-top: 5px;
    }
  }
.cta-section {
  padding: 25px;
  height: 150px;
  position: fixed;
  width: 400px;
  bottom: 0;
    .actions{
      display: flex;
      .button-blue{
        width: 49%;
        padding: 10px 25px;
        height: 48px;
        background-color: #10afe2;
        color: #fff;
        border: none;
        font-size: 15px;
        text-transform: uppercase;
         &:first-child{
          margin-right: 2%;
        }
      }
    }
    .brand-area{
      text-align: center;
      color: #fff;
      h2{
        color: #fff;
        text-align: center;
        margin-top: 40px;
        font-weight: 300;
        font-size: 42px;
        margin-bottom: 0;
        line-height: 22px;
      }
      h5{
        font-size: 18px;
      }
    }
  }

.TopRightTimeContainer{
  position: absolute;
  text-align: right;
  right: 20px;
  top: 20px;
  .city{
    font-size: 18px;
  }
  .address{
    font-size: 18px;
  }
  .time{
    font-size: 24px;
  }
  .audio-status{
    font-size: 15px
  }
}


#videoResolutionLabel {
  z-index: 4;
  display: none !important;
}
.videoResolutionLabel {
  display: none !important;
}
.toggleFilmstripButton {
  display: none !important;
}

.single-participant {
  position: absolute;
  top: 30%;
  color: #ff2a2a;
  z-index: 10;
  left: 15%;
  right: 15%;
  text-align: center;
  font-size: 20px;
  line-height: 30px;
  padding: 2%;
  border: 1px solid #ff2a2a;
}